{% extends './base.html' %}
{% block body %}
    <!-- tabla clientes -->
    <div class='p-3 cont_tabla_dt my-5' >
        <div id='cont_2_tbl'>
            <h1 class="text-center tit_tabla_dt" >{{ titulo_tabla }}</h1>
        </div>
        <div class="py-3">
        {% for res in datos %}    
            <h4><b>Nombre:</b> {{ res[0] }} {{  res[1]}}</h4>
            <h4><b>Fecha de registro:</b> {{ res[2] }}</h4>
            <h4><b>Fecha de vencimiento:</b> {{ res[3] }}</h4>
        {% endfor %}
        </div>
        <table class="table table-dark table-hover table-striped shadow-lg" style='width: 100%;' id='datatable_users'>
            <thead class='thead_tab1'>
                    <tr>
                        <th class='text-center tit_c_tab1'>Num</th>
                        <th class='text-center tit_c_tab1'>Fecha de pago</th>
                        <th class='text-center tit_c_tab1'>Cantidad de meses pagados</th>
                    </tr>
                </thead>
            <tbody class='tbody_tab1'>
            </tbody>
        </table>
    </div>
    <div id='sin_fondo'>
    </div>
    <div id='exp_soli'></div>
    <!-- fin tabla cientes -->
    <!-- modal 1 -->
    <div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="titulo1" aria-hidden="true" style="height: 100vh;">
        
    </div>
    <!-- fin modal 1 -->
   
{% endblock %}